<p>list</p>
  <div>
    ruby: <%= @jewel.ruby %>
    diamond: <%= @jewel.diamond %>
    emerald: <%= @jewel.emerald %>
    sapphire: <%= @jewel.sapphire %>
    opal: <%= @jewel.opal %>
    gold: <%= @jewel.gold %>
    silver: <%= @jewel.silver %>
    red: <%= @jewel.red %>
    black: <%= @jewel.black %>
  </div>